openai==1.30.1
langchain==0.2.0
langchain-openai==0.1.7
langchain-core==0.2.1
langchain-community==0.2.0
langchain-experimental==0.0.59
langchain-text-splitters==0.2.0
langsmith==0.1.65
chromadb==0.4.24
faiss-cpu==1.8.0
gradio==4.22.0
unstructured==0.12.6
google-search-results==2.4.2
tiktoken==0.7.0
docarray==0.40.0
matplotlib==3.8.3
plotly==5.20.0
numpy==1.26.4
scikit-learn==1.5.0
pandas==2.2.1